/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	width: 90%;
	padding-left:5%;}
nav{
	padding-left:10%;
	padding-right:10%;
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	border-bottom: 1px solid #E1E1E1;
	padding-top:1em;
	padding-bottom:1em;
	background-color: white;
	z-index: 100;
	color:rgb(119, 119, 119);}
nav .logo{
	width: 8em;
	font-size:30px;
	font-weight:300;}
nav .logo u{
	border-bottom: 1px dotted #000;
	text-decoration: none;}
nav .search{
	float: right;
	border: 1px solid #D1D1D1;
		border-radius: 4px;
	height: 38px;
	padding: 6px 10px;
	width: 60%;
	box-shadow: none;
		box-sizing: border-box;
	display: flex;}
nav .search input{
	background-color: white;}
nav .search button{
	background-color: white;}
/* Unity
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width{
	width: 100%;}
.borderless{
	border: none;}
.inline-block{
	display: inline-block;}
.inline{
	display: inline;}
.container{
	margin-top: 6em;
	padding-bottom: 11em}
/* page_post
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#page_post{
	display: none;
}
th,td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1; }
th:first-child,td:first-child {
	padding-left: 0; }
th:last-child,td:last-child {
	padding-right: 0; }
td:first-child{
	cursor:pointer;}
th.score{
	width: 5em;}
/* FnKey
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#FnKey{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 1em;}
#FnKey a{
	display: block;
}
.button{
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: white;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #555;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	box-sizing: border-box; }
.button:hover, .button:focus{
	background-color: #333;
	border-color: #888;
	outline: 0; }
/* Scrolling Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar{
	height:16px;
	overflow:visible;
	width:16px;}
::-webkit-scrollbar-button{
	height:0;
	width:0;}
::-webkit-scrollbar-track{
	background-clip:padding-box;
	border:solid transparent;
	border-width:0 0 0 4px;}
::-webkit-scrollbar-track:horizontal{
	border-width:4px 0 0;}
::-webkit-scrollbar-track:hover{
	background-color:rgba(0,0,0,.05);
	box-shadow:inset 1px 0 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-track:horizontal:hover{
	box-shadow:inset 0 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-track:active{
	background-color:rgba(0,0,0,.05);
	box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);}
::-webkit-scrollbar-track:horizontal:active{
	box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);}
::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,.2);
	background-clip:padding-box;
	border:solid transparent;
	border-width:1px 1px 1px 6px;
	min-height:28px;
	padding:100px 0 0;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);}
::-webkit-scrollbar-thumb:horizontal{
	border-width:6px 1px 1px;
	padding:0 0 0 100px;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.07);}
::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0,0,0,.4);
	box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);}
::-webkit-scrollbar-thumb:active{
	background-color:rgba(0,0,0,0.5);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.35);}
::-webkit-scrollbar-corner{
	background:transparent;}
body::-webkit-scrollbar-track-piece{
	background-clip:padding-box;
	background-color:#f5f5f5;
	border:solid #fff;
	border-width:0 0 0 3px;
	box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);}
body::-webkit-scrollbar-track-piece:horizontal{
	border-width:3px 0 0;
	box-shadow:inset 0 1px 0 rgba(0,0,0,.14),inset 0 -1px 0 rgba(0,0,0,.07);}
body::-webkit-scrollbar-thumb{
	border-width:1px 1px 1px 5px;}
body::-webkit-scrollbar-thumb:horizontal{
	border-width:5px 1px 1px;}
body::-webkit-scrollbar-corner{
	background-clip:padding-box;
	background-color:#f5f5f5;
	border:solid #fff;
	border-width:3px 0 0 3px;
	box-shadow:inset 1px 1px 0 rgba(0,0,0,.14);}
@media (max-width: 750px) {
	nav .search{
		float: left;
		width: 100%;
		margin-top: 1em;
	}
	.container{
		margin-top: 9em;
	}
}
/* page_topic
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#page_topic{
	display: none;
}
.bubble {
	display: inline-block;
	position:relative;
	padding: 1em;	
	color:#333;
	background:#eee;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin: 1em;
}
.bubble:after {
  content:"";
  position:absolute;
  bottom: 0px;
  left: -10px;
  border:10px solid transparent;
  border-bottom-color:#eee;
  display: inline-block;
  width:0;
}
.me .bubble:after {
	left: auto;
	right: -10px;
}
.me{
	float: right;
}
.chat .bubble{
	order: 3;
}
.chat .user{
	order: 2;
	align-self: flex-end;
}
.chat .date{
	order: 4;
	color:#E0E0E0;
	align-self: flex-end;
}
.chat{
	display: flex;
	clear: both;
}
.me .bubble{
	order: 1;
	background: #BDBDBD;
}
.me .date{
	order: 0;
}
.me .bubble:after {
	border-bottom-color: #BDBDBD;
}
/* topic
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#topic{
	top: 5em;
	margin-left: -10%;
	display: none;
	padding: 1em;
	color: white;
	background-color: rgb(119, 119, 119);
}